body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.container__page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container__form {
    display: flex;
    justify-content: center;
    width: 50%;
    height: 50%;
}

.container__workout {
    display: flex;
    justify-content: center;
    width: 75%;
    max-height: 500px;
}

.md-steppers-wrapper {
    height: 150px !important;
    background-color: rgba(0, 0, 0, 0.38);
    opacity: .8;
    display: flex;
}

.md-stepper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.md-steppers-container {
    align-items: center !important;
}

